:root {
  --backgroundBlue: hsl(213deg, 100%, 91%);
  --backgroundGrey: hsl(0deg, 0%, 95%);
  --boxShadowBlack: hsla(0deg, 4%, 15%, 0.25);
  --buttonBlue: hsl(217deg, 85%, 53%);
  --buttonHoverBlue: hsl(225deg, 85%, 53%);
  --buttonTextBlack: hsl(252deg, 0%, 32%);
  --finishGreen: hsl(155deg, 100%, 26%);
  --textBlack: hsl(225deg, 31%, 27%);
  --textBlackLight: hsl(0deg, 2%, 32%);
  --textBlue: hsl(217deg, 85%, 53%);
}
/*
what needs to be fixed for beta launch?
- state selector
- save data
*/
