// https://fonts.google.com/specimen/Montserrat?preview.text_type=custom&sidebar.open=true&selection.family=Montserrat:wght@400;600
// https://fonts.google.com/specimen/Lato?preview.text_type=custom&sidebar.open=true&selection.family=Lato

body {
  background-color: white;
  font-family: Lato, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s background-color;

  &.inProgress {
    background-color: var(--backgroundGrey);
  }
}

.container {
  max-width: 43rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textBlack);
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 4rem;
}

p {
  color: var(--textBlack);
}

button {
  border-color: var(--buttonBlue);
  border-radius: 7px;
  background-color: var(--buttonBlue);
  font-family: Lato, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  height: 5.7rem;
  text-transform: capitalize;
  box-shadow: 2px 4px 10px var(--boxShadowBlack);

  &:focus,
  &:hover {
    border-color: var(--buttonHoverBlue);
    background-color: var(--buttonHoverBlue);
  }
}
