@import 'milligram';
@import './milligram-overrides';
@import './page-transition';
@import './Header';
@import './Inputs';

body {
  &.dark {
    background: hsl(0deg, 0%, 50%);
    color: white;
  }
}

#app {
  height: 100%;
}

.DirectionButtons {
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
