@import 'milligram';
@import './_colors';
@import './_milligram-overrides';
@import './_page-transition';
@import './AnswerRow';
@import './Arrow';
@import './ButtonsRow';
@import './Header';
@import './Logo';
@import './Inputs';
@import './EndContent';
@import './StartContent';

body {
  padding: 0;
  margin: 0;

  &.dark {
    background: hsl(0deg, 0%, 50%);
    color: white;
  }
}
