html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: hsl(0deg, 0%, 50%);
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.Header {
  line-height: 1;
  .bottom {
    font-size: 130%;
  }
}

.page-enter-active .page-inner,
.page-exit-active .page-inner {
  transition: opacity 500ms, transform 500ms;
}

.container.next-exit-left-enter-right {
  /* enter from the right 100 to 0 */
  .page-enter {
    .page-inner {
      opacity: 0;
      transform: translateX(100%);
    }
    &-active .page-inner {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  /* exit to the left 0 to -100 */
  .page-exit {
    .page-inner {
      opacity: 1;
      transform: translateX(0%);
    }
    &-active .page-inner {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

.container.previous-exit-right-enter-left {
  /* enter from the left -100 to 0 */
  .page-enter {
    .page-inner {
      opacity: 0;
      transform: translateX(-100%);
    }
    &-active .page-inner {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  /* exit to the right 0 to 100 */
  .page-exit {
    .page-inner {
      opacity: 1;
      transform: translateX(0%);
    }
    &-active .page-inner {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

/* Font for Logo: Montserrat */
/*    Top Size: semibold 18px */
/* Bottom Size: semibold 24px */
