.StateInput,
.CriteriaInput {
  h1 {
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
  }

  .ReactSelect {
    width: 32rem;
    margin: 0 auto;
    font-size: 2rem;
  }

  .select__input {
    height: 6rem;
  }
  .select__control {
    border: 1px solid hsl(0deg, 4%, 15%);
    border-radius: 7px;
  }
  .select__option {
    color: black;
  }
  .select__placeholder {
    color: hsl(0deg, 0%, 40%);
  }
  .select__indicator-separator {
    background-color: hsl(0deg, 0%, 40%);
  }
  .select__indicator {
    color: hsl(0deg, 0%, 40%);
  }
}

.AgeInput {
  h1 {
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
  }

  pre {
    display: inline;
    border-width: 0;
    background-color: inherit;
  }

  input {
    display: block;
    width: 16rem;
    height: 6.5rem;
    border: 1px solid hsl(0deg, 4%, 15%);
    border-radius: 7px;
    margin: auto;
    background-color: white;
    font-size: 3rem;
    text-align: center;
  }
}
