// https://fonts.google.com/specimen/Montserrat?preview.text_type=custom&sidebar.open=true&selection.family=Montserrat:wght@400;600

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 43rem;
}

button {
  background-color: hsl(215deg, 85%, 60%);
  border-color: hsl(215deg, 85%, 60%);
}
