.page-outer {
  min-height: 50rem;
}

.page-enter-active .page-inner,
.page-exit-active .page-inner {
  transition: opacity 500ms, transform 500ms;
}

.container.next-exit-left-enter-right {
  /* enter from the right 100 to 0 */
  .page-enter {
    .page-inner {
      opacity: 0;
      transform: translateX(100%);
    }
    &-active .page-inner {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  /* exit to the left 0 to -100 */
  .page-exit {
    .page-inner {
      opacity: 1;
      transform: translateX(0%);
    }
    &-active .page-inner {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

.container.previous-exit-right-enter-left {
  /* enter from the left -100 to 0 */
  .page-enter .page-inner {
    opacity: 0;
    transform: translateX(-100%);
  }
  .page-enter-active .page-inner {
    opacity: 1;
    transform: translateX(0%);
  }
  /* exit to the right 0 to 100 */
  .page-exit .page-inner {
    opacity: 1;
    transform: translateX(0%);
  }
  .page-exit-active .page-inner {
    opacity: 0;
    transform: translateX(100%);
  }
}
